/* Navigation Bar */
.bg-light {
    background-color: #091e6b !important;
  }
  
  .navbar-brand {
    font-family: 'Press Start 2P', cursive ;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .nav-link {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    color: #ffffff !important;
    letter-spacing: 1px;
    margin-right: 1rem;
    text-transform: uppercase;
  }
  
  .nav-link:hover {
    color: #ffd700;
  }
  
  /* App Background */
  body, html {
    font-family: 'Press Start 2P', cursive !important;
    background-color: #1013be !important;
    font-size: 1em !important;
    color: #fdfbfb !important;
    background-image: url("1847.png") !important;
   
  }
  
  /* Primary Button */
  .btn-primary {
    background-color: #ffd700;
    background-image: linear-gradient(to bottom, #ffd700, #e6b800);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #e6b800;
    background-image: linear-gradient(to bottom, #e6b800, #ffd700);
  }
  
  /* Table cells inside odd numbered table rows */
  table tr:nth-child(odd) td {
    background-color: #007c1f;
    background-image: linear-gradient(to bottom, #007c1f, #00573c);
    color: #ffffff;
  }
  
  /* Heading elements */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #ffd700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  /* Anchor elements */
  a {
    color: #c2185b !important;
  }
  
  a:hover {
    color: #ffd700;
  }
  
  /* Fieldset Legends */
  legend {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }
